<!-- 
	martinli@ Y150112
	"跨頁的"側邊面板要手動初始化, 詳細做法請參考
	http://demos.jquerymobile.com/1.4.5/panel-external/
	
	要注意的是未初始化的"跨頁"側邊面板會在畫面上留下痕跡, 
	因此要是應用程式有跨頁的側邊面板不在應用程式開啟時就初始化, 那就要在側邊面板加上樣式 display:none,
	然後在初始化跨頁側邊面板的程式碼中移除 display:none 樣式, 以下物流配送的跨頁側邊面板就是很好的例子	
 -->
<div id="deliveryPanel" data-role="panel" data-display="overlay" data-theme="a" style="display:none">
	<h3 data-i18n="delivery.panel.title">設定</h3>
	<ul data-role="listview" style="min-width:210px;"><!-- data-inset="true" -->
		<li><a href="#" class="ui-btn ui-btn-icon-right ui-icon-gear" data-i18n="delivery.panel.settings">系統參數</a></li>
		<li><a href="#" class="ui-btn ui-btn-icon-right ui-icon-info" data-i18n="delivery.panel.about">關於系統</a></li>
		<li><a href="#" class="ui-btn ui-btn-icon-right ui-icon-power" data-i18n="delivery.panel.logout">登出</a></li>
		<li><a href="#" class="ui-btn ui-btn-icon-right ui-icon-delete" data-rel="close" data-i18n="delivery.panel.close">關閉此選單</a></li>
	</ul>
</div>